:root {
    --teal-color: #41cde2;
}

.top-buffer {
  margin-top: 5vh;
  width: inherit%;
}

.browser-sidebar {
  height: 85vh;
  margin-right: 3vh;
  overflow-y: scroll;
}

.video-nav-bar {
  width: 100%;
  height: 5vh;
  background: var(--teal-color);
  opacity: 0.5;
}

.top3 { margin-top:3vh; }
.top5 { margin-top:5vh; }
.top7 { margin-top:7vh; }
.top10 { margin-top:10vh; }
.top15 { margin-top:15vh; }
.top17 { margin-top:17vh; }
.top30 { margin-top:30vh; }
