{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row top-buffer">
      <div class="col-md-6 browser-sidebar-section">
        <p class="browser-result"> Results: </p>
        <div class="browser-sidebar">
          <ul class="list-group">
          </ul>
        </div>
      </div>
      <div class="col-md-6 video-sidebar-section">
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
              <video
                id="video-player"
                class="video-js vjs-16-9"
                controls
                preload="auto"
                data-setup='{}'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a
                  web browser that
                  <a href="http://videojs.com/html5-video-support/" target="_blank">
                    supports HTML5 video
                  </a>
                </p>
              </video>
            </div>
          </div>
          <div class="row">
              <svg class="video-nav-bar-container top7">
                <rect id="nav-bar" class="video-nav-bar" rx="5" ry="5"/>
              </svg>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='index.js')}}">
  </script>
{% endblock %}
